kind: BuildConfig
apiVersion: build.openshift.io/v1
metadata:
  annotations:
    app.openshift.io/vcs-ref: master
    app.openshift.io/vcs-uri: 'https://github.com/eparis/test.git'
  name: dnf-test
  labels:
    app: dnf-test
    app.kubernetes.io/component: dnf-test
    app.kubernetes.io/instance: dnf-test
    app.kubernetes.io/part-of: dnf-test
spec:
  output:
    to:
      kind: ImageStreamTag
      name: 'dnf-test:latest'
  strategy:
    type: Docker
    dockerStrategy:
      dockerfilePath: Dockerfile.dnf-test
  source:
    type: Git
    git:
      uri: 'https://github.com/eparis/test.git'
      ref: master
    contextDir: /
  triggers:
    - type: ConfigChange
  runPolicy: Serial
  successfulBuildsHistoryLimit: 2
  failedBuildsHistoryLimit: 2
